@import "variables";

body {
    
    font-family: $fontRiseofKingdom;
    background-image: url(../Images/Background/compass-160051_640.png);
    background-size: 50px;
    background-position: center center;
    background-color: $orangeRed;
}

h2 {
    
    text-align: center;
    font-size: 42px;
    background-color: $orange;
    border-radius: 50px;
}

input {
    
    &:focus {
            
            cursor: pointer;
            border-radius: 50%;
            box-shadow: 0px 0px 10px 10px $white;
            animation: backgrglow 1.5s linear infinite alternate;
            
            @keyframes backgrglow {
                
                to {
                    
                    box-shadow: 0px 0px 20px 20px $white;
                }
            }
}
}

main {
 
    display: flex;
    align-items: flex-start;
    padding: 50px;
}