@import "variables";

.header {
    
    display: block;
    margin: 0 auto;
    background-color: rgba(255, 72, 0, 0.8);
    width: 95%;
    
    &__logo {
        
        width: 15em;
        height: auto;
        margin: 25px auto;
        display: block;
        
        @media only screen and (min-width: 1200px) {
            
            width: 20em;
            height: 250px;
        } 
       
    }
}