@import "mixins";

/************ Character Tokens ***************/
.characters {

    width: 100%;
    height: auto;
    font-size: 18px;
    color: $black;
        
    &__token--img {
            
        width: 100%;
        margin: 0 auto;
        margin-top: 10px;
        
        &:hover {
            
            cursor: pointer;
            border-radius: 50%;
            box-shadow: 0px 0px 10px 10px $white;
            animation: backgrglow 1.5s linear infinite alternate;
            
            @keyframes backgrglow {
                
                to {
                    
                    box-shadow: 0px 0px 20px 20px $white;
                }
            }   
        }
    }
}

.characters__container {
    
    margin-top: 50px;
}


[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type=radio]:checked + .glow {
  
    border-radius: 50%;
    box-shadow: 0px 0px 10px 10px $green;
    animation: glow 1.5s linear infinite alternate;
            
        @keyframes glow {
                
            to {
                    
                box-shadow: 0px 0px 20px 20px $green;
            }
        }   
}
/************ Character Tokens Info ***************/
.characterInfo {
    
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 3;
    top: 0px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.95);
    transition: 0.5s;
    margin: 0 auto;
    display: none;

    &__item {

        max-width: 400px;
        margin: 0 auto;
        margin-top: 0px;
        color: white;
        padding: 20px;
        position: relative;
        top: 10%;
        width: 100%;

        &--img {

            width: 250px;
        }
    }
        
    button {
            
        display: block;
        padding-top: 10px;
        margin-top: 50px;
        width: 40%;
        font-size: 20px;
        margin: 50px auto;
    }
}

/************ Play Button ***************/
.btnPlay {
    
   position: fixed;
    bottom: 0;
    left: 25%;
    z-index: 2;
    margin: 0 auto;
    display: block;
    width: 50%;
    height: 30px;
    border-radius: 5px 5px 0 0;
    background-color: $orange;
    color: $white;
    
    &:hover {
        
        cursor: pointer;
        background-color: $white;
        color: $orange;
    }
}

.outerContainer {
    
    width: 100%;
}

/************ Game Board ***************/
#gameBoard {
    
   background-image: 
        url(../Images/Background/compass.png), 
        url(../Images/Background/paper-68833_1280.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    background-size: 30%, cover;
    background-attachment: fixed;
    @include gameBoard();
    
}

.box {
    
    font-size: 100%;
    width: 75px;
    height: 75px;
    position: absolute;
    text-align: center;
    border-radius: 10px;
}


/************ Dice ***************/
#dice {

    position: relative;
    max-width: 400px;
    margin: auto;
    top: 450px;
    left: 165px;
    font-family: $fontRiseofKingdom;
    
}

#dice img {
    
    width: 20%;
    height: auto;
}

#dice #diceRoll {
    position: absolute;
    transform: translate(-35%, -225%);
    background-color: $orange;
    color: white;
    font-size: 20px;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    border: none;
    
}

/************ Players ***************/

.players {
    
    display: flex;
    justify-content: center;
}

.player1 {
    
    position: absolute;
    left: 300px;
    top: 50px;
}

.player2 {
    
    position: absolute;
    right: 300px;
    top: 50px;
}