@import "mixins";
@import "variables";

/************ Character Tokens ***************/
.characters {

    width: 100%;
    height: auto;
    font-size: 18px;
    color: $black;
   
    &__token--img {
            
        margin: 0 auto;
        margin-top: 10px;
        
        &:hover {
            
            cursor: pointer;
            border-radius: 50%;
            box-shadow: 0px 0px 10px 10px $white;
            animation: backgrglow 1.5s linear infinite alternate;
            
            @keyframes backgrglow {
                
                to {
                    
                    box-shadow: 0px 0px 20px 20px $white;
                }
            }   
        }
    }
}

.characters__container {
    
    margin: 50px;
     
}

[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type=radio]:checked + .glow {
  
    border-radius: 50%;
    box-shadow: 0px 0px 10px 10px $green;
    animation: glow 1.5s linear infinite alternate;
            
        @keyframes glow {
                
            to {
                    
                box-shadow: 0px 0px 20px 20px $green;
            }
        }   
}

.glow {
    
    box-shadow: 0px 0px 10px 10px $white;
    animation: glow 1.5s linear infinite alternate;
            
        @keyframes glow {
                
            to {
                    
                box-shadow: 0px 0px 20px 20px $orange;
            }
        }   
}
/************ Buttons **************************/
.btnPlay {
    
   position: fixed;
    bottom: 0;
    left: 25%;
    z-index: 2;
    margin: 0 auto;
    display: block;
    width: 50%;
    height: 30px;
    border-radius: 5px 5px 0 0;
    background-color: $orange;
    color: $white;
    
    &:hover {
        
        cursor: pointer;
        background-color: $white;
        color: $orange;
    }
}

.btn {
    
    width: 20%;
    
    &:hover {
        
        color: $black;
    }
}

.btnBack {
    
    height: 12vh;
    width: 160px;
    font-size: 18px;
    top: 350px;
    position: relative;
    left: 100px;
    background-image: url(../images/Icons/arrow_icon_backw.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(0,0,0,0);
    text-align: center;

        &:hover {

            background-color: rgba(0,0,0,0);
            animation: backgrpos .5s linear infinite alternate;
            
            @keyframes backgrpos {
                
            to {
                    
                background-position: 0px 10px;
            }
        }   
    }
}

/************ Game Board ***************/
#gameBoard {
    
   background-image: 
        url(../images/mages/Background/compass.png), 
        url(../images/Background/paper-68833_1280.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    background-size: 30%, cover;
    background-attachment: fixed;
    @include gameBoard();
    
}

.box {
    
    font-size: 100%;
    width: 75px;
    height: 75px;
    position: absolute;
    text-align: center;
    border-radius: 10px;
}


/************ Dice ***************/
#dice {

    position: relative;
    max-width: 400px;
    margin: auto;
    top: 450px;
    left: 165px;
    font-family: $fontRiseofKingdom;
    
}

#dice img {
    
    width: 20%;
    height: auto;    
}

#dice #diceRoll {
    
    position: absolute;
    transform: translate(-35%, -225%);
    background-color: $orange;
    color: white;
    font-size: 20px;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    border: none;
    
    &:hover {
        
        background-color: $green;
    }
    
}

/************ Players ***************/

.players {
    
    display: flex;
    justify-content: center;
}

.player1 {
    
    position: absolute;
    left: 300px;
    top: 50px;
}

.playerName {
    
    position: absolute;
    left: 300px;
    top: 125px;
    font-size: 40px;
}

.goal {
    
    position: absolute;
    right: 300px;
    top: 50px;
}

.sum {
    
    position: absolute;
    right: 280px;
    top: 115px;
    font-size: 40px;
    
    &::first-letter {
        
        color: $green;
        font-size: 70px;
    }
}

.token__1 {
    
    width: 100px;
    height: 100px;
    margin: auto;
    position: relative;
    bottom: 20px;
    right: 10px;
}

.jumbo {
    
    display: none;
}

.jumbotron {
    
    width: 80%;
    height: 90%;
    position: fixed;
    z-index: 3;
    top: 30px;
    left: 200px;
    background-color: rgba(0, 0, 0, .95);
    transition: 0.5s;
    text-align: center;
    color: $white;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.jumboTitle {
    
    font-size: 32px;
}

.jumboText {
    
    text-align: left;
    order: 3;
    width: 60%;
}

.jumboImg {
    
    order: 2;
    width: 60%;
    margin: 25px auto;
}

.jumbo__closeBtn {
    
    order: 4;
    width: 10%;
    margin-top: 25px;
    font-size: 18px;
}

@include characterToken();