@import "variables"; 

@mixin characterToken () {
    
    .arya-stark {
        
        background-image: $arya_stark;
        background-size: 200px 200px;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

@mixin gameBoard () {
    
    .box {
        
        background-image: url(../images/Background/tile_backgr.jpg);
        font-family: $fontRiseofKingdom;
        font-weight: 400;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    #tile0 {
        
        background-color: $green;
        color: $white;
        background-image: url('../images/Icons/arrow_icon.png');
        background-size: contain;
        background-position: center;
        padding-top: 10px;
        
    } 
    
    #tile15 {
        
        background: none;
        color: $white;
        padding-top: 10px;
        background-color: $green;
    }
    
    #tile11, #tile29 {
        
        background: none;
        background-color: $red;
        color: $white;
    }

    #tile5 {
    
        background-image: $baratheon;
    }
    
    #tile7 {
        
        background-image: $greyjoy;
    }
    
    #tile20 {
        
        background-image: $stark;
    }
    
     #tile25 {
        
        background-image: $targaryen;
    }
    
     #tile28 {
        
        background-image: $lannister;
    }
    
    #tile30 {
        
        background-image: $crown;
        background-size: 70px 50px;
        background-color: $black;
            
    }
}
        
// Media Queries

@mixin media () {

    /******************** Screen 768 px ******************/
    
    @media only screen and (min-width: 768px) { 

        .characters {

            &__token--img {

                width: 70%;
            }
        }

        .btnPlay {

            font-size: 24px;
            height: auto;
            max-width: 200px;
            right: 0;

        }
        
        .header__logo {
            
            width: 20em;
            height: 250px;
        }
    }

     /******************** Screen 1200 px ****************/
    
    @media only screen and (min-width: 1200px) { 

        .characters {

            width: 100%;
            font-size: 18px;
            margin: 0 auto;
            

            &__token--img {

                width: 80%;
                
            }
        }

        .btnPlay {

            height: 12vh;
            font-size: 32px;
            position: relative;
            left: 85%;
            background-image: url(../images/Icons/arrow_icon.png);
            background-position: top;
            background-repeat: no-repeat;
            background-size: contain;
            background-color: rgba(0,0,0,0);

             &:hover {

                background-color: rgba(0,0,0,0);
                animation: backgrpos .5s linear infinite alternate;
            
                @keyframes backgrpos {
                
                    to {
                    
                        background-position: 0px 10px;
                    }
                }   
            }
        }
        
        .header__logo {
            
            width: 20em;
            height: 250px;
        }
        
        #select_character {
            
           background-image: 
                url(../images/Background/scroll_v.png),
                url(../images/Background/backGr_lg.jpg);
            
            background-size: 
                115% 160%,
                300px;
        }
    }
}