// Fonts
$fontRiseofKingdom: "RiseofKingdom", serif;

// Colors
$orange: #C4450A;
$brown: #AD6B00;
$burlyBrown: #998000;
$red: #C20C0C;
$green: #748F00;
$black: #000000;
$white: #ffffff;

//tokens
$baratheon: url(../images/sigils/baratheon.png);
$greyjoy: url(../images/sigils/Greyjoy.png);
$lannister: url(../images/sigils/Lannister.png);
$stark: url(../images/sigils/Stark.png);
$targaryen: url(../images/sigils/Targaryen.png);
$crown: url(../images/Icons/1x/crown.png);

//characterTokens
$arya_stark: url(../images/Tokens/arya_stark_token.png);