// Fonts
$fontRiseofKingdom: "RiseofKingdom", serif;

// Colors
$orange: #C4450A;
$brown: #AD6B00;
$burlyBrown: #998000;
$red: #C20C0C;
$green: #748F00;
$black: #000000;
$white: #ffffff;

//tokens
$baratheon: url(../Images/sigils/baratheon.png);
$greyjoy: url(../Images/sigils/Greyjoy.png);
$lannister: url(../Images/sigils/Lannister.png);
$stark: url(../Images/sigils/Stark.png);
$targaryen: url(../Images/sigils/Targaryen.png);
$crown: url(../Images/Icons/1x/crown.png);