* {
    
    padding: 0;
    margin: 0;
}

@font-face {
    
    font-family: RiseofKingdom; 
    src: url("../Fonts/vladimir-nikolic_rise-of-kingdom/Rise of Kingdom.ttf"); 
}

@import "variables";
@import "main";
@import "header";
@import "blocktags";