* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: RiseofKingdom;
  src: url("../Fonts/vladimir-nikolic_rise-of-kingdom/Rise of Kingdom.ttf");
}
.characters {
  width: 100%;
  height: auto;
  font-size: 18px;
  color: #000000;
}
.characters__token--img {
  margin-top: 10px;
}
.characters__token--img:hover {
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 10px #ffffff;
  animation: backgrglow 1.5s linear infinite alternate;
}
@keyframes backgrglow {
  to {
    box-shadow: 0px 0px 20px 20px #ffffff;
  }
}
@media only screen and (min-width: 1200px) {
  .characters {
    width: 60%;
    font-size: 18px;
  }
}

.characterInfo {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 3;
  top: 0px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.95);
  transition: 0.5s;
  margin: 0 auto;
  display: none;
}
.characterInfo__item {
  max-width: 400px;
  margin-top: 0px;
  color: white;
  margin: 0 auto;
  position: relative;
  top: 10%;
  width: 100%;
}
.characterInfo__item--img {
  width: 250px;
}
.characterInfo__item button {
  display: block;
  padding-top: 10px;
  margin-top: 50px;
  width: 40%;
  font-size: 4.5vw;
  margin: 50px auto;
}
@media only screen and (min-width: 768px) {
  .characterInfo__item button {
    font-size: 24px;
    width: 30%;
    transform: translateY(70px);
  }
}
@media only screen and (min-width: 1200px) {
  .characterInfo {
    display: block;
    background-color: #FF980D;
    border: 1px solid #000000;
    height: 80vh;
    width: 200vw;
    margin-top: 20px;
    position: sticky;
  }
  .characterInfo__item {
    width: 100%;
    max-width: 90%;
    color: #000000;
    font-size: 18px;
  }
  .characterInfo__item--img {
    width: 100%;
    height: auto;
  }
  .characterInfo button {
    display: none;
  }
}

.btnPlay {
  position: fixed;
  bottom: 0;
  left: 25%;
  z-index: 2;
  margin: 0 auto;
  display: block;
  width: 50%;
  height: 30px;
  border-radius: 5px 5px 0 0;
}
@media only screen and (min-width: 768px) {
  .btnPlay {
    font-size: 24px;
    height: auto;
    max-width: 200px;
    right: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .btnPlay {
    width: 250px;
    left: 68%;
    z-index: 4;
  }
}

.outerContainer {
  background-color: rgba(255, 140, 0, 0.98);
  width: 95%;
}

.header {
  display: block;
  margin: 0 auto;
  background-color: #E82A0C;
  width: 95%;
}
.header__logo {
  width: 15em;
  height: auto;
  margin: 25px auto;
  display: block;
}
@media only screen and (min-width: 1200px) {
  .header__logo {
    width: 20em;
    height: 250px;
  }
}

body {
  font-family: "RiseofKingdom", serif;
  background-image: url(../Images/Background/compass-160051_640.png);
  background-size: 50px;
  background-position: center center;
  background-color: #E82A0C;
}

h2 {
  text-align: center;
  font-size: 42px;
  background-color: #FF980D;
  border-radius: 50px;
}

input {
  visibility: hidden;
}

main {
  display: flex;
  align-items: flex-start;
  padding: 50px;
}

/*# sourceMappingURL=styles.css.map */
